/* CSS Document */

html {
	background:#9a9a36 url('/images/1120595_43377563.jpg') 60% 45% no-repeat;
	color:#515152;
}
strong {
	font-weight:bolder;
}
h1 {
	padding:.3em .5em;
	margin-bottom:1em;
	color:#fff;
	text-transform:uppercase;
	clear:both;
	visibility:hidden;
	display:none;
}
h2 {
	padding-top:.25em;
	clear:both;
	color:#28689a;
	font-size:153.9%;
}
h3 {
	font-weight:bolder;
	clear:both;
}

#wrapper {
}
#container {
	background-color:#fff;
}
#content {
	background:#fff;
	width:74.92em; /* non-IE 974px */
	*width:73.05em; /* IE 974px */
}
#sidebar {
	float:left;
	width:12.31em; /* non-IE 160px */
	*width:12.00em; /* IE 160px */
	text-align:right;
}
#menu {
	float:left;
	width:12.31em; /* non-IE 160px */
	*width:12.00em; /* IE 160px */
	text-align:right;
}
#maincontent {
	float:left;
	width:50.29em; /* non-IE 653px */
	*width:49.03em; /* IE 653px */
	text-align:left;
}
#footer {
	clear:both;
	color:#fff;
}
#sidebar .contentdiv {
	padding:0 0 5.2em 0;
}
#menu .contentdiv {
	padding-top:1.5em;
}
#maincontent .contentdiv {
	padding:1em;
}
#footer .contentdiv {
	padding-left:.5em;
	text-transform:uppercase;
}

#maincontent p {
	padding-bottom:1em;
	font-size:108%;
}

#sidebar h3 {
	margin-top:1.5em;
	color:#28689a;
	text-transform:capitalize;
}
#sidebar p {
	font-size:93%;
}
#menu ul {
	margin-bottom:1.25em;
}
#menu ul a {
	color:#919192;
	text-decoration:none;
	font-size:93%;
}
#menu ul a:hover {
	color:#616162;
}
#menu li {
	padding-right:.5em;
}
#menu li.heading {
	font-weight:bolder;
}
#menu ul li.heading a {
	font-size:100%;
	text-transform: capitalize;
	font-weight:bolder;
 	color:#313132;
}
#menu ul.active {
 color:#616162;
}
#menu li.active {
	/* border-right:.25em solid #9a9a36; */
}
#menu ul.active a {
	/* color:#616162; */
}
#menu li.active a{
	color:#9a9a36;
	font-weight:bolder;
}
#menu li.heading.active a {
	color:#9a9a36;
}

h1 span.text14 {visibility:hidden;}
h1 span.text12 {font-size:108%;}

ol  li {
	padding-bottom:.5em;
	font-size:108%;
}
ol.list {
	margin-bottom:1em;
	margin-left:1em;
}
ol.list li {
	padding-bottom:.15em;
	list-style:disc;
	list-style-position:inside;
}
ol.list li.heading {
	margin-top:0em;
	list-style:none;
	color:#313132;
	font-size:108%;
	font-weight:bolder;
}
ol.clients {float:left;}
ol.clients li {
	width:20em; /* non-IE 260px */
	*width:19.5em; /* IE 260px */
}
ol.whatwedo li {
	padding-bottom:.25em;
	width:12.3em; /* non-IE 260px */
	*width:19.5em; /* IE 260px */
	float:left;
}
ol.whatwedo li.left {
	border-right:.2em solid #fff;
	margin-right:2em;
}
a.nodecor {text-decoration:none;}

.hilite1, .hilite2 {
	color:#313132;
	font-weight:bolder;
}
.hilite1, .hilite2 {
	color:#9a9a36;
	font-weight:bolder;
}
.hilite1, .hilite2 {
	color:#28689a;
	font-weight:bolder;
}
.hilite1, .hilite2 {
	color:inherit;
	font-weight:normal;
}
.error {
	color:#c30;
}
.box1 {background:#666766;}
.padt1 {padding-top:.25em;}
.padt2 {padding-top:.5em;}
.padt3 {padding-top:1em;}
.padb1 {padding-bottom:.25em;}
.padb2 {padding-bottom:.5em;}
.padb3 {padding-bottom:1em;}
.padl1 {padding-left:.25em;}
.padl2 {padding-left:.5em;}
.padl3 {padding-left:1em;}
.padr1 {padding-right:.25em;}
.padr2 {padding-right:.5em;}
.padr3 {padding-right:1em;}
.blu1 {color:#28689a;}
.blk1 {color:#313132;}
.wht1 {color:#fff;}
.wht2 {color:#a2a2a2;}
.grn1 {color:#9a9a36;}
.gray1 {color:#616162}
.gray2 {color:#919192;}
.upper {text-transform:uppercase;}
.strong {font-weight:bolder;}
.em {text-decoration:underline;}
.floatleft {float:left;width:50%;}
.floatright {float:right;width:50%;}
.hidden {visibility:hidden;display:none;}
.spacer {clear:both;}
.clear {clear:both;}
div#debug,div.debug {
	padding:1em;
	border:1px solid #ccc;
	position:absolute;
	left:55%;
	top:5%;
}
div#debug pre, div.debug pre{
	text-align:left;
}

.scroll1 {
	padding-right:1em;
	margin-top:.25em;
	overflow:auto;
	height:36.70em; /* non-IE 360px; */
	*height:26.25em; /* IE 360px */
}
.scroll1 .padt1 {
	padding-top:0;
}

.home.box1 {
	padding:1.25em;
	color:#fff;
}

.text10 {font-size:77%;}  /*renders 10px */ 
.text11 {font-size:85%;}  /*renders 11px */ 
.text12 {font-size:93%;}  /*renders 12px */ 
.text13 {font-size:100%;} /*renders 13px */  
.text14 {font-size:108%;} /*renders 14px */ 
.text15 {font-size:116%;}  /*renders 15px */ 
.text16 {font-size:123.1%;} /*renders 16px */ 
.text17 {font-size:131%;} /*renders 17px */ 
.text18 {font-size:138.5%;} /*renders 18px */ 
.text19 {font-size:146.5%;} /*renders 19px */ 
.text20 {font-size:153.9%;} /*renders 20px */ 
.text21 {font-size:161.6%;} /*renders 21px */ 
.text22 {font-size:167%;} /*renders 22px */ 
.text23 {font-size:174%;} /*renders 23px */ 
.text24 {font-size:182%;} /*renders 24px */ 
.text25 {font-size:189%;} /*renders 25px */ 
.text26 {font-size:197%;} /*renders 26px */ 

#sidebar {background-color:#000;}