Html{}
Body{border:0;margin:0;padding:0;color:#036;font-family:arial, helvetica, sans-serif;font-size:11px;font-size:85%;height:100%;line-height:125%;}
P,Br,Hr,Div,Ul,Ol,Li.NoPadding{margin:0;padding:0;}
H3{margin:0;padding-bottom:.5em;line-height:100%;font-size:110%;}
Form,P{margin:0 0 .3em 0;}
Div.ContentDiv{border:0;margin:0;padding:0;margin-bottom:.5em;}
Ul{list-style:none;}
Big{font-size:105%;}
Table{font-size:95%;}
Dd{font-size:95%;}
Td.j{margin:0;padding:0;}
Div.lh{font-size:120%;}
Div.lh Font{font-size:100%;}
Td.j Div{margin-top:-1.5em;}

#Wrapper{padding:0;margin:0;position:absolute;top:0;left:7.5%;right:0%;width:95%;height:auto;margin-left:-5%;background:#fff;overflow:hidden;}
#Wrapper{left:50%;right:0%;width:960px;margin-left:-480px;}
#Top{margin:.5% 1%;margin-bottom:0;color:#898989;clear:both;}
#Logo{margin-bottom:0;height:50px;background-color:#1c1c1c;clear:both;}
#Nav{width:63%;text-transform:uppercase;font-size:90%;float:left;}
#Nav Li{width:15%;background:#eee;list-style:none;float:left;}
#Nav Li.Current{background:#fff;}
#Nav Li.Main{background:#fff;}
#Nav Li A,#Nav Li A:Link,#Nav Li A:Hover,#Nav Li A:Active,#Nav Li A:Visited{padding:.5em .5em;height:15px;color:#121212;text-decoration:none;font-weight:bolder;display:block;text-align:center;}
#Nav Li A:Hover{text-decoration:underline;}
#Nav Li.Current A, #Nav Li.Current A:Link, #Nav Li.Current A:Hover, #Nav Li.Current A:Active, #Nav Li.Current A:Visited{color:#fff;}
#Nav Li.End{width:24%;}
#Nav Li{background:url('/images/bg_navoff.gif') top left repeat-x;background-position:center;}
#Nav Li.Current{background:url('/images/bg_navon.gif') top left repeat-x;background-position:center;}
#Nav Li A:Hover{background:url('/images/bg_navhover.gif') top left repeat-x;background-position:center;}
#Nav Li.Current A:Hover{background:url('/images/bg_navon.gif') top left repeat-x;background-position:center;}
#Container{margin:0 1%;clear:both;}
#MainContent{margin:0;margin-bottom:0em;clear:both;}
#BaseContent{background:#fff;clear:both;}
#Footer{margin:.5em;font-size:90%;color:#1c1c1c;background:#fff;text-align:center;clear:both;text-transform:uppercase;font-size:75%;}
#Footer A,#Footer A:Link,#Footer A:Visited,#Footer A:Hover,#Footer A:Active{color:#00f;text-decoration:underline;}
#Footer A:Hover{text-decoration:underline;}
#Footer .Copyright{padding:.5em;text-align:center;text-transform:uppercase;font-size:100%;}
#Skyscraper{width:18%;margin-top:.5em;float:left;display:none;}
#SearchBox{margin:0;padding:0;width:37%;float:left;background:url('/images/001bg.gif');}
#HomeBanner{background:#080 url('/images/003_bg.jpg') 0px -48px repeat-x;}

.ContentDiv{background-color:#fff;}
.Footer{padding:.5em 0;}

.MainContentDiv,.RightContentDiv{margin:0;padding:1% 0 0 0;background:#fff;width:63%;float:left;}
.RightContentDiv{background:url('/images/001bg.gif');width:37%;}
.RightContentDiv .ContentDiv,.RightContentDiv .AdContentDiv{margin:0 2.5%;}
.RightContentDiv .AdContentDiv{margin-bottom:2%;}
.MainContentDiv .ContentDiv{margin-right:1%;}

.SectionHeader{margin:0;padding:.5em;border-bottom:none;color:#fff;background-color:#a3a3ac;background-image:url('/images/bg_headeraa.gif');background-repeat:no-repeat;font-size:110%;text-transform:uppercase;clear:both;}
.SectionHeader A{color:#fff;text-decoration:none;}
.SectionHeader .FloatRight{font-size:90%;font-weight:normal;}
.SectionHeader Li{padding-right:.5em;color:#898989;list-style:none;float:left;}
.SectionHeader Li A,.SectionHeader Li A:Link,.SectionHeader Li A:Hover,.SectionHeader Li A:Active,.SectionHeader Li A:Visited{color:#f1f1f1;font-size:90%;text-decoration:none;}
.SectionHeader Li A:Hover{color:#eee;}
.SectionHeader Li.Current A,.SectionHeader Li.Current A:Link,.SectionHeader Li.Current A:Hover,.SectionHeader Li.Current A:Active,.SectionHeader Li.Current A:Visited{color:#FFF;}
.SectionHeader Li.Current A:Hover{color:#FFF;}
A.SectionHeader{border:none;}
H3.SectionHeader{font-size:110%;}
.SectionHeader{margin:0;padding:.5em;background:#50772d url('/images/bg_subheader0.gif') top right no-repeat;font-weight:bolder;font-size:95%;}
.SectionHeader2{margin:0;padding:.5em;background:#008442 url('/images/bg_subheader2.gif') top right no-repeat;}

.Playlist{margin-bottom:0;list-style:none;text-align:left;font-size:95%;}
.Playlist .Id{padding:.4em .2em 0 .2em;text-align:center;font-weight:bolder;}
.Playlist Td.Id{}
.Playlist Dd{text-transform:capitalize;float:left;}
.Playlist Td.End,.Playlist Dd.End{border:none;}
.Playlist Th{padding:.5em;background:none;}
.Playlist Th.SectionHeader{color:#fff;background-color:#739100;background-image:url('/images/bg_header2.gif');background-repeat:no-repeat;}
.Playlist Th.SectionHeader A{color:#fff;}
.Playlist Th Dt{padding:.3em 0 .3em 0;margin-right:.5em;padding-right:1.5em;float:left;background:url('/images/breadcrumb_sep2.png') 100% 50% no-repeat;}
.Playlist Th Dt.End{background:none;}
.Playlist Dl{margin:0;}
.Playlist H3{margin:0 .3em 0 0;padding:0;font-size:100%;text-transform:capitalize;font-weight:bolder;line-height:120%;}
.Playlist H3 Small{font-weight:normal;font-size:100%;text-transform:inherit;color:#036;}
.Playlist Td Img,.Playlist Dd Img{border:1px solid #eee;margin-right:.5em;margin-bottom:.3em;padding:.2em;}
.Playlist Td,.Playlist Dd{padding:.3em 0 .3em .3em;margin:0;background:#fff url('/images/bg_list_item2.png') bottom repeat-x;}
.Playlist A{color:#036;text-decoration:none;}
.Playlist A:Hover{text-decoration:underline;}
.Playlist A:Hover Img{border:1px solid #6babdd;}
.Playlist .Current,.Playlist .Current{background:#eee;color:#036;font-weight:bolder;}
.Playlist .Current Td,.Playlist .Current Dd{background:#eee;}
.Playlist .Current A,.Playlist .Current A:Hover,.Playlist .Current A:Active,.Playlist .Current A:Visited{color:#036;font-weight:bolder;}
.Playlist .Caption{padding-top:.5em;padding-right:.8em;color:#121212;}
.Playlist .NowPlaying{font-weight:text-transform:capitalize;font-weight:normal;color:#153e7e;}
.Playlist .NowPlaying Dd.End{text-transform:uppercase;}
.Playlist .NowPlaying P{border-left:1px solid #eee;padding:.3em .5em;text-transform:uppercase;}
.Playlist .NowPlaying H3{margin-top:.1em;line-height:120%;}
.Playlist .NowPlaying H3 Small{text-transform:capitalize;}
.Playlist:Hover{}
.Playlist .BtnPlay{position:relative;margin:-2em 0 0 .2em;padding:0;border:none;}
.Playlist A>.BtnPlay{margin-top:-1.85em;margin-left:.25em;}
.Playlist A:Hover Img.BtnPlay{border:none;}

.Subheader{padding-bottom:0em;padding-left:.5em;background-color:#fff;display:none;}
.Subheader A{color:#25502D;text-decoration:none;}
.Subheader A:Hover{text-decoration:underline;}
.Subheader Dl{margin:0;padding:0;background:#fff url('/images/bg_list_item2.png') bottom repeat-x;}
.Subheader Dd{border-right:1px solid #eee;border-left:1px solid #eee;padding:.5em 0 .5em .5em;margin:0;}
.Subheader Th{border-right:1px solid #eee;padding:0;text-transform:uppercase;font-weight:bolder;}
.Subheader>Thead Th{border-bottom:1px solid #eee;}
.Subheader Dd{border-right:1px solid #eee;border-left:1px solid #eee;padding:.5em 0 .5em .5em;margin:0;}
.Subheader Th Dt{padding:.5em 0;margin-right:.5em;padding-right:1.5em;float:left;background:url('/images/breadcrumb_sep2.png') 100% 50% no-repeat;}
.Subheader Th Dt.End{background:none;}

.BrowseLinks{margin:0;padding:0 0 .5em 0;border-top:none;}
.BrowseLinks Li{margin:.3em .34em;float:left;}
.BrowseLinks Li A,.BrowseLinks Li A:Visited{color:#153e7e;text-decoration:none;font-size:110%;}
.BrowseLinks Li A:Visited{color:#153e7e;}
.BrowseLinks Li A:Hover{color:#739100;}
.BrowseLinks .SectionHeader{border:none;}
.BrowseLinks .HorizList{border-left:1px solid #eee;border-right:1px solid #eee;background:#fff;}
.BrowseLinks .HorizList{padding-left:.5em;}
.BrowseLInks Ul{margin-left:1em;padding:.5em 0em 0em 1em;text-transform:none;}

.Mktplc{margin:0;clear:both;}
.Mktplc A{color:#036;}
.Mktplc A:Hover{text-decoration:underline;}
.Mktplc Li,.Mktplc Dd{padding:.3em .5em;background:#fff url('/images/bg_list_item2.png') bottom repeat-x;font-size:110%;font-weight:bolder;}
.Mktplc Dd{margin:0;padding-bottom:1em;font-weight:normal;font-size:100%;float:left;}
.Mktplc Li Small{font-size:90%;font-weight:normal;}
.Mktplc Dd Img{border:1px solid #eee;padding:.3em;}
.Mktplc Dd A:Hover Img{border:1px solid #eee;}
.Mktplc H3{margin:0 .5em 0 0;text-transform:uppercase;font-size:100%;color:#121212;}
.Mktplc H3 A,.Mktplc H3 A:Visited,.Mktplc H3 A:Hover{color:#121212;text-decoration:none;font-weight:bolder;}
.Mktplc H3 A:Hover{text-decoration:underline;}

.NowPlaying{padding:1em 0;color:#153e7e;font-size:1.5em;line-height:1.4em;font-weight:bolder;}
.NowPlaying .SectionHeader{padding:0 .5em .5em 0;border:none;color:#008442;text-transform:capitalize;background:none;}
.NowPlaying H3{text-transform:capitalize;}

.Paging{padding:.5em 0;text-align:right;background:none;color:#153e7e;font-weight:normal;font-size:90%;clear:both;}
.Paging A{padding:.2em .4em;color:#153e7e;list-style:none;}
.Paging A{text-decoration:none;font-weight:normal;}
.Paging A:Hover{color:#153e7e;}
.Paging .Current{
 border:1px solid #ccc;
 background-color:#fff;
 color:#153e7e;
 font-weight:bolder;
}
.Paging .Current:Hover{color:#626262;}

.Images Img{border:1px solid #eee;padding:.3em;}
.AdContentDiv{padding-top:1em;margin-bottom:.5em;background:url('/images/ico_advertisement.gif') top left no-repeat;text-align:center;}
.Notice,.Message{color:#036;}
.SmallBold{font-size:90%;font-weight:bolder;text-transform:uppercase;}
.PaddedBox3 .Message{color:#fff;text-transform:uppercase;}
.Error{color:#c30;}
.Paging {font-weight:normal;}
.HorizList Li{float:left;}
.ScrollableContent{overflow:hidden;}
.FloatLeft{float:left;}
.FloatRight{float:right;}
.Spacer,.Divider{margin:0;padding:0;clear:both;}
.Divider{padding-bottom:.5em;}
.BorderBox1{border:1px solid #eee;}
.PaddedBox{padding:.3em .5em;color:#121212;}
.PaddedBox1{background-color:#f1f1f1;padding:.3em .5em;}
.PaddedBox2{background-color:#25502D;color:#FFF;padding:.3em .5em;}
.PaddedBox2 A{color:#FFF;text-decoration:none;}
.PaddedBox3{padding:.3em .5em;background:#739100;color:#fff;}
.PaddedBox3 A{color:#fff;text-decoration:none;}
.Box4{background:#fef8d6;}
.Box1{background:#fff;}
.Box2{background:#25502d;color:#f1f1f1;}
.Box2{background:#606eaf;color:#f1f1f1;}
.PaddedBox4{padding:.3em .5em;background:#fef8d6;}
.PaddedBox5{padding:.3em .5em;background:#121212;color:#fff;}
.PaddedBox6{padding:.3em .5em;background:#606eaf;color:#fff;}
.Invisible{visibility:hidden;display:none;}
.Visible{visibility:visible;display:block;}
.BluTxt,A.BluTxt,A.BluTxt:Hover,A.BluTxt:Visited{color:#153e7e;}
.BlkTxt,A.BlkTxt,A.BlkTxt:Hover,A.BlkTxt:Visited{color:#121212;}
.WhtTxt,A.WhtTxt,A.WhtTxt:Hover,A.WhtTxt:Visited{color:#fff;}
.GrnTxt,A.GrnTxt,A.GrnTxt:Hover,A.GrnTxt:Visited{color:#008442;}
.GryTxt,A.GryTxt,A.GryTxt:Hover,A.GryTxt:Visited{color:#ccc;}
.BigTxt{font-size:100%;font-weight:bolder;}
Ul.Normal,Ol.Normal{margin:.5em;}
Ul.Normal Li,Ol.Normal Li{list-style:disc;margin:1em;}
Ol.Normal Li{list-style:decimal;}
Ol.Normal Li P{margin:1em 0;}

#ServiceDebug{color:blue;padding:.5em;font-size:.8em;overflow:auto;}
#ServiceDebug{display:none;}

.ThreeTabPortalDiv Ul.MPlayerTabs Li{text-align:center;font-size:90%;font-weight:normal;}
.ThreeTabPortalDiv Ul.MPlayerTabs Li A,.ThreeTabPortalDiv Ul.MPlayerTabs Li A:Hover,.ThreeTabPortalDiv Ul.MPlayerTabs Li A:Visited{color:#999;text-decoration:none;}
.ThreeTabPortalDiv Ul.MPlayerTabs Li.Current A,.ThreeTabPortalDiv Ul.MPlayerTabs Li.Current A:Hover,.ThreeTabPortalDiv Ul.MPlayerTabs Li.Current A:Visited{color:#153e7e;}
.ThreeTabPortalDiv Ul.MPlayerTabs Li A,.MPlayerTabs Li A,.ThreeTabPortalDiv Ul.MPlayerTabs Li A:Hover,.MPlayerTabs Li A:Hover{color:#008442;}
.ThreeTabPortalDiv Ul.MPlayerTabs Li A:Hover,.MPlayerTabs Li A:Hover{color:#121212;}
.ThreeTabPortalDiv Ul.MPlayerTabs Li.Current A:Hover{color:#153e7e;}
.PortalDivContent .ContentDiv{visibility:hidden;display:none;}
.MPlayerTabs Li A,.MPlayerTabs Li A:Hover{color:#008442;}
.MPlayerTabs Li{margin-right:.2em;padding:.5em 1em;color:#008442;font-weight:normal;display:block;float:left;text-transform:uppercase;cursor:pointer;}
.MPlayerTabs Li.Current{border:0px solid #fdfdfd;border-bottom:none;background:#fff;}
.MPlayerTabs Li.Current{border-bottom:none;color:#153e7e;border-bottom:none;background-color:#f3f3f3;}
.PortalDivContent .Current{padding:.5em .3em .3em .3em;background:#f3f3f3 url('/images/g_newsitem.png') top no-repeat;}

Big Big.GrnTxt{font-size:95%;text-transform:uppercase;font-weight:bolder;}
