<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Laban Estate Management &amp; Consultants</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<link rel="stylesheet" href="/themes/default/css/yui-reset-fonts-min.css" type="text/css" media="all" />
	</head>
    <body>
        <div id="wrapper">
            <div id="container" class="center">
                <div id="content">
                <!--#include virtual="/themes/default/layout/stage.php" -->
                </div>
	        </div>
        </div>
    </body>
</html>