<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>Laban Estate Management &amp; Consultants (LEMACON)</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<link rel="stylesheet" href="/themes/default/css/style.css" type="text/css" media="all" />
		<script src="/scripts/mootools-1.2.1-core.js" language="JavaScript" type="text/javascript"></script>
		<script src="/scripts/mootools-1.2-more.js" language="JavaScript" type="text/javascript"></script>
		<script src="/scripts/swfobject.js" language="JavaScript" type="text/javascript"></script>
		<script src="/scripts/main.js" language="JavaScript" type="text/javascript"></script>
        <script type="text/javascript" language="javascript">
         window.addEvent('domready', function() {
         });
        </script>
	</head>
    <body>
        <div id="wrapper">
            <div id="container">
                <div class="center">
	                <div id="header">
	                    <!--#include virtual="/themes/default/layout/header.php" -->
	                </div>
	                <div id="content">
	                <!--#include virtual="/themes/default/layout/content.php" -->
	                </div>
		            <div id="footer">
		                <!--#include virtual="/themes/default/layout/footer.php" -->
		            </div>
		         </div>
	        </div>
        </div>
    </body>
</html>